<app-card [title]="'Product List'" [subTitle]="'Here You Are Your Product List'">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar >
        <div class="spacer"></div>
        <button mat-raised-button color="primary">Add New Product</button>
      </mat-toolbar>
    </div>
  </div>
  <p-table [value]="productList">
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
        <td>
          <button mat-mini-fab color="primary" >
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</app-card>
